.input-radio-item-cybozu {
    margin: 0;
    padding: 0;
}

table.subtable-gaia.subtable-13457604.edit-subtable-gaia input {
    height: 56px;
}

.control-gaia.control-group-field-gaia.field-13457886.control-group-gaia.control-group-gaia-expanded {
    display: none;
}

button.recordlist-edit-gaia {
    display: none;
}

.control-gaia.control-group-field-gaia.field-13457889.control-group-gaia.control-group-gaia-collapsed {
    display: none;
}

.lookup-selector-navi-gaia {
    display: none;
}

.lookup-selector-gaia {
    padding: 0;
}

.ocean-ui-dialog-buttons.gaia-argoui-dialog-buttons.gaia-argoui-dialog-buttons-general {
    padding: 0;
}

.lookup-selector-table-frame {
    height: 70vh !important;
}

.input-text-cybozu[id*="_13458387-"] {
    display: none;
}

input.input-text-cybozu.lookupbridge-field {
    display: none !important;
}
